<!DOCTYPE html>
<html lang="nl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🗃</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="/static/scripts/journals.js"></script>
    <style type="text/css">
        h1 {font-size: 16px;font-weight: bold;}
        h2 {font-size: 14px;font-weight: bold;}
        body {font-size: 12px;}
        .content {min-height: calc(100vh - 60px);}
        .celBackground {background-color: rgb(80, 80, 80);}
        .celHeight400 {height: 400px; overflow-y: scroll;}
        .celHeight600 {height: 600px; overflow-y: scroll;}
        code {background-color: rgb(245, 239, 184)}
        blockquote {
            margin-left: 20px;
            font-size: 13px;
            padding-left: 10px;
            border-left: 5px solid #009688;
}
    </style>
</head>
<body class="w3-gray" >
    <div class="w3-bar w3-black">
            <a href="" class="w3-bar-item w3-button" style="width:50px">&nbsp;</a>
            <a href="/main" class="w3-bar-item w3-button{{if eq `main` .Section}} w3-teal{{end}}">main</a>
            {{ range .Sections }}
                {{ if ne . `main` }}
            <a href="/{{.}}" class="w3-bar-item w3-button {{if eq . $.Section}} w3-teal{{end}}">{{.}}</a>
                {{end}}
            {{end}}
            <a href="/section" class="w3-bar-item w3-button w3-orange">+</a>
    </div>
    <div class="w3-sidebar w3-bar-block w3-black w3-large" style="width:50px">
        <a href="/{{ .Section }}" class="w3-bar-item w3-button">🏠</a>
        <a href="/{{ .Section }}/journal" class="w3-bar-item w3-button">📝</a>
        <a href="/{{ .Section }}/todo" class="w3-bar-item w3-button">✔</i></a>
        <a href="/{{ .Section }}/urls" class="w3-bar-item w3-button">🔗</a>
        <a href="/{{ .Section }}/searchp" class="w3-bar-item w3-button">🔎</a>
    </div>
    <div style="margin-left:50px">