{{template "header.html" .}}
<div class="w3-container w3-teal content">
	<p></p>
	<div class="w3-row-padding">
		<div class="w3-col w3-half w3-pale-green celHeight400 w3-border">
			{{template "todoHeadLess.html" .}}
		</div>
		<div class="w3-col w3-half w3-pale-green celHeight400 w3-border">
			{{template "journalMdHeadLess.html" .}}
		</div>
	</div>
	<div class="w3-row-padding">
		<div class="w3-col w3-half w3-pale-green celHeight400 w3-border">
			<h1>Bookmarks</h1>
			<table class="">
				<caption hidden>The saved url's with keywords to search by</caption>
				<tr style="display: none;"><th scope="col" >Url</th><th scope="col">search words</th><th scope="col">delete button</th></tr>
			{{ range .ListUrls.List }}<tr>
					<td><a href="{{ .URL }}" target="_blank">{{ .ShortenURL 40 }}</a></td>
					<td>{{ range .Tags }} <a href="/{{ $.Section }}/search/{{.}}">{{.}}</a>{{end}}</td>
					<td style="width:10px"><a class="delete"  title="delete" href="/{{ $.Section }}/urls/delete/{{ .Hash }}">🗑</a></td>
				</tr>{{ end }}
			</table>
		</div>
		<div class="w3-col w3-half w3-pale-green celHeight400 w3-border">
			<form id="addUrl" method="post" action="/{{.Section}}/urls">
				<input type="text" name="link" placeholder="http://link">
				<input type="text" name="tags" placeholder="tag1 tag2 tag3">
				<input class="w3-button w3-black" type="submit" value="Add Url">
			</form>
			<form id="findUrl" method="post" action="/{{.Section}}/search">
				<input type="text" name="searchword" placeholder="search words">
				<input class="w3-button w3-black" type="submit" value="Search Url">
			</form>
		</div>
	</div>
</div>
{{template "footer.html"}}