<div id="journalPanel" class="w3-container w3-pale-green content">
{{ if .Journal}}
    <h2>📝 Journal: {{.Journal.ShortNameFormated}}</h2>
{{else}}
    <h2>📝 Journal: No Journal</h2>
{{end}}
{{if .NewerJournal }}
    <button type="button" onclick="loadJournal('/{{.Section}}/journalheadless/{{ .NewerJournal.ShortName }}', setJournalPanel)">Nieuwer</button>
{{ else }}
    <button type="button" onclick="">Geen nieuwere</button>
{{ end }}
{{ if .OlderJournal }}
    <button type="button" onclick="loadJournal('/{{.Section}}/journalheadless/{{ .OlderJournal.ShortName }}', setJournalPanel)">Ouder</button>
{{ end }}
{{if .Journal}}
    <div id="journalPanel" ondblclick="parent.location='/{{.Section}}/journal'">{{ .Journal.RenderToMarkDown }}</div>
{{else}}
    <div id="journalPanel" ondblclick="parent.location='/{{.Section}}/journal'">No Journal</div>
{{end}}
    <br />
{{if .NewerJournal }}
    <button type="button" onclick="loadJournal('/{{.Section}}/journalheadless/{{ .NewerJournal.ShortName }}', setJournalPanel)">Nieuwer</button>
{{ else }}
    <button type="button" onclick="">Geen nieuwere</button>
{{ end }}
{{ if .OlderJournal }}
    <button type="button" onclick="loadJournal('/{{.Section}}/journalheadless/{{ .OlderJournal.ShortName }}', setJournalPanel)">Ouder</button>
{{ end }}
</div>
<p></p>