{{template "header.html" .}}
<div class="w3-container w3-teal content">
	<div class="w3-col">
		<h2>📝 Journal V2</h2>
			<form method="post" action="/{{.Section}}/journal">
			<textarea class="w3-border w3-input" rows="20" cols="100" name="journal">
{{if .Journal}}{{ .Journal}}{{else}}{{template "journalTemplate.html" .}}{{end}}
			</textarea>
			<p><input class="w3-button w3-black w3-block" type="submit" value="Save"></p>
			</form>
	</div>
	<div class="w3-col w3-pale-green w3-row-padding celHeight400">
		<h2>Overzicht</h2>
		{{ range .List }}
		<a href="/{{.Section}}/journal/{{ .ShortName }}">📝 Journal of: {{ .ShortNameFormated }}</a><br />
		{{ end }}
	</div>
</div>

{{template "footer.html"}}