{{template "header.html" .}}
<div class="w3-container w3-teal content">
    <h2>Search</h2>
    <form method="POST">
        <p>Select the sections you want to search in:</p>
        <table class="w3-table-all w3-pale-green">
            <caption hidden>List of sections to search in</caption>
            <tr style="display: none;"><th scope="col" >Checkbox</th><th scope="col">section name</th></tr>
            {{ range .Sections }}<tr>
            <td><input class="w3-check" type="checkbox" name="sections" value="{{.}}" checked></td>
            <td>{{.}}</td>
        </tr>{{end}}
        </table>
        <p>
            <input class="w3-input w3-border w3-light-grey" type="text" name="searchword" placeholder="add search word" value="{{.Searchword}}">
        </p>
        <p>
            <input class="w3-button w3-black" type="submit" value="Search">
        </p>
    </form>

    <div class="w3-row">
        <div class="w3-half w3-container">
            <table class="w3-table-all w3-pale-green">
                <caption hidden>List of found urls</caption>
                <tr style="display: none;"><th scope="col" >Found Url</th><th scope="col">search words</th></tr>
                {{ range .FoundURLs.List }}<tr>
                    <td><a href="{{ .URL }}" target="_blank">{{ .ShortenURL 45 }}</a></td>
                    <td>{{ range .Tags }}{{.}} {{end}}</td>
                </tr>{{ end }}
            </table>
        </div>
        <div class="w3-half w3-container">
            {{ range .FoundJournals }}
            <button onclick="acordionJournals('{{.Name}}')" class="w3-button w3-block w3-left-align w3-green">
                    Journal: {{.ShortNameFormated}} Section {{.Section}}</button>

            <div id="{{.Name}}" class="w3-hide w3-container w3-pale-green">
                <p id="{{.Name}}">{{.RenderToMarkDown}}</p>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{template "footer.html"}}