{{template "header.html" .}}
<div class="w3-container w3-teal content">
    <h2>Section</h2>
    {{ if .Error }}<p>{{ .Error }}</p>{{ end }}
    <p>Een sectie omvat een bepaald gebied in je dagelijks leven zoals: werk, sport, vereniging enz</p>
    <p>Vul hieronder de sctie in die je nodig hebt</p>
    <form method="post" action="/section">
        <input type="text" class="w3-border w3-input" name="section" placeholder="add section name"></input>
        <p><input class="w3-button w3-black w3-block" type="submit" value="Save"></p>
    </form>
</div>
{{template "footer.html"}}