{{template "header.html" .}}
<div class="w3-container w3-teal content">
    <h2>Todo</h2>
    <form method="post" action="/{{.Section}}/todo">
    <textarea class="w3-border w3-input" rows="20" cols="100" name="todo">{{ .Todo }}</textarea>
    <p><input class="w3-button w3-black w3-block" type="submit" value="Save	"></p>
    </form>
</div>
{{template "footer.html"}}