{{template "header.html" .}}
<div class="w3-container w3-teal content">
	<p>
	<form method="post" action="/{{.Section}}/urls">
		<input type="text" name="link" placeholder="http://link">
		<input type="text" name="tags" placeholder="tag1 tag2 tag3">
		<input class="w3-button w3-black" type="submit" value="Add">
	</form>
	</p>
	<table class="w3-pale-green">
		<caption hidden>List of all the enterd url's and keywords</caption>
		<tr style="display: none;"><th scope="col" >Url</th><th scope="col">search words</th><th scope="col">delete button</th></tr>
	{{ range .ListUrls.List }}<tr>
		<td><a href="{{ .URL }}" target="_blank">{{ .ShortenURL 40 }}</a></td>
		<td>{{ range .Tags }} <a href="/{{ $.Section }}/search/{{.}}">{{.}}</a>{{end}}</td>
		<td style="width:10px"><a class="delete"  title="delete" href="/{{ $.Section }}/urls/delete/{{ .Hash }}">🗑</a></td>
	</tr>{{ end }}
	</table>
</div>
{{template "footer.html"}}